* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.headerIndex {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.headerIndex h1 {
    display: inline-block;
    font-size: 48px;
}

.headerIndex h1 #seo {
    color: #d9dcd6;
}

.headerIndex div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.headerIndex div ul {
    list-style-type: none;
}

.headerIndex div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.primaryImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.reputationImage {
    float: right;
    margin-left: 25px;
}


.mainContent {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitsLead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitsBrand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitsCost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitsLead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitsBrand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitsCost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitsLead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefitsBrand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefitsCost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.mainEngine {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.mainReputation {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.mainMarketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.mainEngine img {
    max-height: 200px;
}

.mainReputation img {
    max-height: 200px;
}

.mainMarketing img {
    max-height: 200px;
}

.mainEngine h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.mainReputation h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.mainMarketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.copyRight {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.copyRight h2 {
    font-size: 20px;
}
